<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>
<body>
    <div class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2 style="text-align: center;">Корзина</h2>

            <p>Название: Товарчик</p>
            <p>Цена: <span>10</span></p>
            <p>Количество: <span>10</span></p>
            <div class="butt">
                <button>+</button>
                <button>-</button>
            </div>
            <hr>

            <p>Название: Товарчик</p>
            <p>Цена: <span>10</span></p>
            <p>Количество: <span>10</span></p>
            <div class="butt">
                <button>+</button>
                <button>-</button>
            </div>
            <hr>

            <p>Название: Товарчик</p>
            <p>Цена: <span>10</span></p>
            <p>Количество: <span>10</span></p>
            <div class="butt">
                <button>+</button>
                <button>-</button>
            </div>
            <hr>
        </div>
    </div>

    <div class="carts">

        <div class="info">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcAOQOXpz3-LzbrnJJkZnn5jejcz7HPJyAkw&s" alt="">
            <h4>Какой-то товар</h4>
            <img class="icon" src="/public/371979.svg">
        </div>

        <div class="info">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcAOQOXpz3-LzbrnJJkZnn5jejcz7HPJyAkw&s" alt="">
            <h4>Какой-то товар</h4>
            <img class="icon" src="/public/371979.svg">
        </div>

        <div class="info">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcAOQOXpz3-LzbrnJJkZnn5jejcz7HPJyAkw&s" alt="">
            <h4>Какой-то товар</h4>
            <img class="icon" src="/public/371979.svg">
        </div>

        <div class="info">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcAOQOXpz3-LzbrnJJkZnn5jejcz7HPJyAkw&s" alt="">
            <h4>Какой-то товар</h4>
            <img class="icon" src="/public/371979.svg">
        </div>

        <div class="info">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcAOQOXpz3-LzbrnJJkZnn5jejcz7HPJyAkw&s" alt="">
            <h4>Какой-то товар</h4>
            <img class="icon" src="/public/371979.svg">
        </div> 
        
        <div class="info">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcAOQOXpz3-LzbrnJJkZnn5jejcz7HPJyAkw&s" alt="">
            <h4>Какой-то товар</h4>
            <img class="icon" src="/public/371979.svg">
        </div> 

        <div class="info">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcAOQOXpz3-LzbrnJJkZnn5jejcz7HPJyAkw&s" alt="">
            <h4>Какой-то товар</h4>
            <img class="icon" src="/public/371979.svg">
        </div> 

        <div class="info">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcAOQOXpz3-LzbrnJJkZnn5jejcz7HPJyAkw&s" alt="">
            <h4>Какой-то товар</h4>
            <img class="icon" src="/public/371979.svg">
        </div> 

        <div class="info">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcAOQOXpz3-LzbrnJJkZnn5jejcz7HPJyAkw&s" alt="">
            <h4>Какой-то товар</h4>
            <img class="icon" src="/public/371979.svg">
        </div> 

        <div class="info">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcAOQOXpz3-LzbrnJJkZnn5jejcz7HPJyAkw&s" alt="">
            <h4>Какой-то товар</h4>
            <img class="icon" src="/public/371979.svg">
        </div> 

    </div>

    <div class="mainCard">
        <img class="icon" src="/public/371979.svg">
    </div>
</body>
</html>