body {
    background-color: rgb(103, 104, 107);
}


.carts {
    display: flex;
    flex-wrap: wrap;
}

.carts .info {
    flex: 20%;
}

.carts .info h4 {
    color: #000000;
    -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease; 
}

.carts .info h4:hover {
    color: rgb(107, 161, 161);
}

.carts .info .icon {
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 140px;
    margin-top: -54px;
}

.mainCard img {
    width: 50px;
    height: 50px;
}

.mainCard {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 10px;

}

.modal {
    display: block;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.modal-content {
    background-color: rgb(100, 95, 95);
    width: 60%;
    max-width: 400px;
    margin: 10% auto;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    color: #333;
    cursor: pointer;
}


.modal .modal-content .close p {
    color: #666;
    font-size: 1em;
    margin-bottom: 8px;
}


.modal .modal-content .close h2 {
    color: #333;
    font-size: 1.5em;
    margin-left: 40px;
    text-align: center;
}

.modal .modal-content .butt {
    margin-left: 120px;
    margin-top: -34px;
}